// @mixin flexSort($flexDirection, $alignItems) {
//   display: flex;
//   flex-direction: $flexDirection;
//   align-items: $alignItems;
// }
* {
  box-sizing: border-box;
}

.loginContainer {
  width: 700px;
  margin: 50px auto;
  border: 1px solid rgb(205, 205, 205);

  .logo {
    font-family: Lobster;
    text-align: center;
    font-size: 100px;
    margin: 50px 50px;
    padding: 15px;
  }

  .form {
    // @include flexSort("column", "center");이거왜안돼
    display: flex;
    flex-direction: column;
    align-items: center;

    .inputWrap {
      font-size: 20px;
      margin-top: 15px;
      width: 70%;
      height: 50px;
    }
  }
}

input {
  border-radius: 8px;
  padding: 10px;
}

.btnLogin {
  display: flex;
  flex-direction: column;
  align-items: center;

  .btn {
    width: 70%;
    margin: 30px;
    height: 40px;
    width: 500px;
    border-radius: 8px;
    padding: 15px auto;
    background-color: gray;
    border: none;
    font-size: 20px;

    .btn-deco {
      text-decoration: none;
      color: white;
    }
  }

  .active {
    background-color: #5ed3f2;
  }

  .rePasswordWrap {
    margin: 100px 20px;

    .rePassword {
      text-decoration: none;
    }
  }
}
